*{
  scroll-behavior: smooth;
  text-transform: capitalize;


}
.MoveIcon{
  visibility: hidden;
  position: relative;
  left: -56px;
  top: 2px;
}
.moveIconParent:hover .MoveIcon{
  
  transform: translate(15px);
  transition: all .3s ease-in;
  visibility: visible;

}


.largeTopMargin {
  margin-top: 100px !important;
  padding-top: 100px !important;
}
.HoverLink:hover{
outline: white 5px solid;
}
.nav-item a:hover {
  /* transform: scale(1.1);
    transition: all .5s; */
  color: yellow !important;
  border-bottom: 1px solid;
}
.bodyColor {
  background-color: #000000;
}
.nav-item a {
  border-bottom: 1px solid #000000;
}
.headerbtn:hover,
.aboutHover:hover {
  background-color: rgb(255, 193, 7);
  color: black !important;
}
.AboutOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 0.137);
  z-index: 5;
  font-size: 90px;
}
.AboutOverlayParent {
  position: relative;
}
.aboutCont {
  z-index: 10;
}
.carousel .carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
}
/* ---------------------------------- */
.shadowParent {
  position: relative;
  z-index: 10;
}
.shadowChildResume {
  bottom: 0;
  left: 30%;
  top: 0%;
  font-size: 103px;
}
.shadowChild {
  position: absolute;

  z-index: 5;
  color: rgba(255, 255, 255, 0.137);
}
.shadowChildupdate {
  top: -14px;
  left: 23%;
  font-size: 100px;
}

.resumeColor {
  background-color: rgb(26, 26, 26);
}

.ServicesHover:hover {
  transition: all .5s ease-in;
  background-color: rgb(255, 193, 7) !important;
  color: black !important;
}
.ServicesHover:hover hr {
  border-color: #000000 !important;
}
/* -------------------- skills------------------------------- */
.shadowChildupdateSkills {
  top: -14px;
  left: 33%;
  font-size: 100px;
}

/* -------------------Projects -------------------- */
.projectsHover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  
}
.shadowChildupdateProjects {
  top: -14px;
  left: 25%;
  font-size: 100px;
}
.projectsHoverParent {
  position: relative;
  height: 250px;
}
.projectsHoverParent:hover .projectsHover {
  display: block;
  background-color: rgb(0 0 0 / 78%);
  transition: all .5s ease-in-out;

}
.btnprojects:hover{
  background-color: white;
  outline: white 2px;
}
/* ------------------------- blog-------------------------- */
.shadowChildupdateBlog {
  top: -11px;
  left: 25%;
  font-size: 110px;
}
.blogHeight{
height: 450px;
object-fit: cover;
}
/* -----------------------hireMe----------- */
.hireMe {
  background-image: url(../images/bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}
/* ---------------------Contact--------------------------- */

.shadowChildupdateContact {
  top: -11px;
  left: 21%;
  font-size: 110px;
}
.ContactIcon {
  background-color: rgb(26, 26, 26);
}
.hireMeBoxes div {
  padding: 20px 30px 10px 30px;
  position: relative;
  top: -40px;
}
.hireMe {
  padding: 1px;
  position: relative;
  top: 45px;
}

/* -------------- footer-------------------------- */

.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  font-weight: bold;
  font-size: 17px;
  transition: all 0.3s;
  color: rgb(255, 193, 7);
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  .carselCont{
    width: 100% !important;
  }

  .AboutOverlay {

    left: 6px;
    font-size: 80px;
    top: 21px;
    }
    .shadowChildupdateProjects {
      left: -31% !important;
      font-size: 70px;

  }
  .shadowChildupdateBlog {
    left: -27% !important;
    font-size: 65px;

  }
  .shadowChildupdateContact {
    left: -28%;
      font-size: 73px;

  }
  .shadowChildupdateSkills {
    left: -20% !important;
    font-size: 95px;

  }
  .shadowChildupdate {
    left: -16% !important;
    font-size: 64px;

  }
  .shadowChildResume {
    left: -3% !important;
    font-size: 70px;

  }
  .CarselBtn{padding: 10px 33px !important;}
  .CarselBtn2{padding: 10px 7px !important;}
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /*  */
  .CarselBtn{padding: 10px 33px !important;}
  .CarselBtn2{padding: 10px 7px !important;}

  .carselCont {
    width: 100%;
  }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}
@media (max-width: 991.98px) {
  .aboutImg {
    display: none;
  }
  .AboutMedia {
    margin: auto;
    
  }
  .aboutParent {
    justify-content: center;
  }
  .nav-link{
    width: 25%;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .AboutMedia{
    width: 85% !important;
  }
  .Birth{
    width: 65% !important;
  }
  .AboutData{
    flex-direction: column;
  }
  .shadowChildupdateProjects {
    left: -10%;
  }
  .shadowChildupdateBlog {
    left: -16%;
  }
  .shadowChildupdateContact {
    left: -28%;
  }
  .shadowChildupdateSkills {
    left: 8%;
  }
  .shadowChildupdate {
    left: -15%;
  }
  .shadowChildResume {
    left: 1%;
  }
  .caruselimg {
    display: none;
  }
  .caruselContainer2 {
    height: 90vh;
    background-image: url(../images/n2.png) !important;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
.caruselContainer{
  height: 90vh;
  background-image: url(../images/n3.png) !important;  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
}
@media (min-width: 768px){
  .CarselBtn{padding: 8px 48px !important;}
  .CarselBtn2{padding: 8px 24px !important;}
}